h1{
    color:rgb(7, 7, 55);
    font-size: 40px;
}
.A{
    color:rgb(113, 8, 8);
}
.B{
    color:rgb(57, 14, 97);
    font-size: 20PX;
}
#C{
    color: rgb(14, 80, 14);
}
.D{
    color: rgb(67, 51, 11);
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#E{
    font-size: 20px;
    border: 4px solid black;
    margin: 80px;
    padding: 50px;
    background-color: rgb(78, 215, 220);
}
body{
    background-color:rgb(197, 146, 154)
}
img{
    border:2px solid black;
    margin-left: 380px;
}